<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link href="{% static "noema_site/css/main.css" %}" rel="stylesheet">
    <title><p>{{ title }}</p></title>
</head>
<body>
<div class="header">
</div>
<div class="head">
{% block head %}
<div class="title">
	{% block title %}{% endblock %}
</div>
<div class="menu">
	{% block menu %}{% endblock %}
</div>
{% endblock %}
</div>
<div class="actions">
    {% block actions %}{% endblock %}
</div>
<div class="page">
{% block page %}
<div class="content">
	{% block content %}
	{% endblock %}
</div>
{% endblock %}
</div>

<div class="footer">
{% block footer %}
<div class="copyright">
	{% block copyright %}
	{% endblock %}
</div>
{% endblock %}
</div>

</body>
</html>