.title {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 90%;
}

.menu {
    position: absolute;
    width: 100%;
    font-size: 100%;
    text-align: center;
    top: 20%;
    bottom: 75%;
}

.content {
    position: absolute;
    width: 100%;
    font-size: 100%;
    text-align: left;
    top: 25%;
    bottom: 10%;
    left: 20%;
    right: 20%;
}
