{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block menu %}
<div class="menu_noema">
    {% if menu_list %}
    <p>
    {% for menu_item in menu_list %}
        <a href="/{{ menu_item.code }}">{{ menu_item.name }}</a>
    {% endfor %}
    </p>
    {% endif %}
</div>
<div class="noema_submenu">
    {% if submenu_list %}
    <p>
    {% for submenu_item in submenu_list %}
        <a href="/{{ submenu_item.code }}">{{ submenu_item.name }}</a>
    {% endfor %}
    </p>
    {% endif %}
</div>
{% endblock %}
    {% for action in action_list %}
        <a href="/{{ action.url }}">{{ action.name }}</a>
    {% endfor %}
{% block actions %}

{% endblock %}

{% block content %}
<div class="gallery_content">
    {% if news_list %}
        {% for news in news_list %}
            <a href="{% url 'one_news' news.id %} ">{{ news.title }}</a>
            <p>{{ news.preview }}</p>
        {% endfor %}
    {% else %}
        <p>К сожалению, галлерея пуста</p>
    {% endif %}
</div>
{% endblock %}
</body>
</html>