{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block menu %}
<div class="menu_noema">
    {% for menu_item in menu_list %}
        <a href="/{{ menu_item.code }}">{{ menu_item.name }}</a>
    {% endfor %}
</div>
{% endblock %}
    {% for action in action_list %}
        <a href="/{{ action.url }}">{{ action.name }}</a>
    {% endfor %}
{% block actions %}

{% endblock %}

{% block content %}
<div class="news_content">
    {% if news_list %}
        {% for news in news_list %}
            <a href="{% url 'one_news' news.id %} ">{{ news.title }}</a>
            <p>{{ news.preview }}</p>
        {% endfor %}
    {% else %}
        <p>К сожалению, новостей пока нет</p>
    {% endif %}
</div>
{% endblock %}
</body>
</html>
